package {{domain}}.{{lib_name}};

import java.lang.foreign.*;
import java.lang.invoke.MethodHandle;
import java.nio.charset.StandardCharsets;
{%- if uses_optional %}
import java.util.Optional;
{%- endif %}
{%- if special_methods.iterator_type.is_some() || special_methods.iterable_type.is_some() %}
import java.util.Iterator;
{%- endif %}
{%- if special_methods.iterator_type.is_some() %}
import java.util.NoSuchElementException;
{%- endif %}

public class {{type_name}}
    {%- if is_error %} extends RuntimeException{% endif %} implements AutoCloseable
    {%- if let Some(t) = special_methods.iterator_type.as_deref() %}, Iterator<{{t}}>{% endif %}
    {%- if let Some(t) = special_methods.iterable_item_type.as_deref() %}, Iterable<{{t}}>{% endif %} {

    private static final Linker LINKER = Linker.nativeLinker();
    private static final SymbolLookup LIB;

    private static final MethodHandle DESTROY;
    {%- for m in native_methods %}
    private static final MethodHandle {{m.handle_name}};
    {%- endfor %}
    {%- for m in native_methods %}
    {%- if let Some(layout) = &m.result_layout %}
    static final StructLayout {{m.result_layout_name.as_ref().unwrap()}} = {{layout}};
    {%- endif %}
    {%- endfor %}

    static {
        System.loadLibrary("{{dylib_name}}");
        LIB = SymbolLookup.loaderLookup();
        DESTROY = LINKER.downcallHandle(
            LIB.find("{{dtor_abi_name}}").orElseThrow(),
            FunctionDescriptor.ofVoid(ValueLayout.ADDRESS)
        );
        {%- for m in native_methods %}
        {{m.handle_name}} = LINKER.downcallHandle(
            LIB.find("{{m.abi_name}}").orElseThrow(),
            {{m.descriptor}}
        );
        {%- endfor %}
    }

    final MemorySegment handle;
{%- if special_methods.iterator_type.is_some() %}
    private {{special_methods.iterator_type.as_deref().unwrap()}} nextVal;
{%- endif %}

    {{type_name}}(MemorySegment handle) {
        {%- if is_error %}
        super("{{type_name}}");
        {%- endif %}
        this.handle = handle;
{%- if special_methods.iterator_type.is_some() %}
        this.nextVal = nextInternal();
{%- endif %}
    }
    {%- for m in constructor_methods %}

    {{m.definition}}
    {%- endfor %}

    @Override
    public void close() {
        try {
            DESTROY.invokeExact(handle);
        } catch (Throwable ex) {
            throw new RuntimeException(ex);
        }
    }
    {%- for m in companion_methods %}

    {{m.definition}}
    {%- endfor %}
    {%- for m in self_methods %}

    {{m.definition}}
    {%- endfor %}
{%- if let Some(iter_ty) = special_methods.iterator_type.as_deref() %}

    @Override
    public boolean hasNext() {
        return nextVal != null;
    }

    @Override
    public {{iter_ty}} next() {
        {{iter_ty}} returnVal = nextVal;
        if (returnVal == null) {
            throw new NoSuchElementException();
        }
        nextVal = nextInternal();
        return returnVal;
    }
{%- endif %}
{%- if let Some(idx) = special_methods.indexer_type.as_ref() %}

    public {{idx.item_type}} get({{idx.index_type}} index) {
        {{idx.item_type}} returnVal = getInternal(index);
        if (returnVal == null) {
            throw new IndexOutOfBoundsException("Index " + index + " is out of bounds.");
        }
        return returnVal;
    }
{%- endif %}
}
